# dependencies
/node_modules
/.pnpm-store
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production artefacts
/build
/dist

# misc
.DS_Store
*.pem
.vscode/

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.*
wrangler.toml.local
.wrangler/

# hosting
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
